<html>
<head></head>
<body>
<div style="width:100%;margin:0;background:#ffffff;font-family:Helvetica,Arial,sans-serif">
    <table cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto">
        <tr>
            <td style="height:37px;text-align:left;padding-left:10px">
                <div>
                    <img src="https://lh3.googleusercontent.com/6tFtGRIQFpsnIOgXKBiCmDrmrSQerVsE24HeR7QAsiF9lRlSW6_qAtbvu05E4Q5SJ_9s0FsB-nQYwhJsp-_CHQrujEOwDWdFB6SZ67aEpE5xtFAXIW96tK4s8_LzDPqPwdfeTiQ7r-jA0dBg42EXaNAhDZtiqZIK3LHf1NCeaAaJvyDKRBRFZSId6MAybBTnqR0tb1JjtitmfToEqDRQpdVTDxus1xHMbB1CiToyd9AdHDXnY4knDi0pWu0nqTH4Q1UKy1Wq81p22GbsmFKN124uC2LBRS9EhiVH4AY0bJToeKn8U9_oSRPjaQMQt0FrdpQUwBkpyQbVAhuEO4GIJRViyQV3aInqLFkXsW2IPI1lmTlE40oDJtiKldVv_o5pbAAly1790yYiwQLFLiRw1XJuphaXyavfQ8u-6TjAheOUX9qi4vxPZpdkFh5nh-xeL8oOLZg5lvdvoGPH3FRknAE5lPQf2saduJk0v28eh63-NCx5E2lGZYrGh16oRYnIR02Pf4MhcdOqJ3wcp7iZkNQuY83kXCuYtPfaMmay91eFwrtY0FYPm7UgCnNyoYvMb3Kv8j8NpuUAMooH6np_eyZSP5JJ2ntIYi5pLGdxXCKSosCu=w201-h70-no"
                         height="60px" width="171px" title="ВАЛЕО DIAGNOSTICS" alt="ВАЛЕО DIAGNOSTICS">
                </div>
            </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0" border="0"
           style="width:600px;max-width:600px;margin:0 auto;background-color:#f3f3f3;border-radius:5px;margin-top: 10px;">
        <tr>
            <td style="padding:20px">
                <div>
                    <div style="display:block;float:right;width:180px;text-align:center">
                        <img src="https://lh3.googleusercontent.com/s9JZR3-Pblj9MesWK3IhixjA7wXtzbzkpga9m6K-T01n0aJqqucyeAUjjTeNOQ8VDzJmLNAJD_JsPUuMD34ZsL69y1RPloDakruCButvbgY0Kjc7IA1kJHcRnVarIA3WpoocMeczyAicAOQ7Qmcq6MKU3xTRRnQVDz6I6NauXY6AjTmquVJL0_8Q2xPjYURYMf8Xf50ZKy3Us_bQ1a0FqMZW2LuAghIyJKWBxG0hmxfQCiY2hxV4DpDrGHKuVadZVSu9KyRX8RtKZsNRALEfv1Bndw0nIdmD9q2tsmzQqhapk3Qv9TQQCgYcTMyYVQ5MmhdBhvY288HxH6CgXVH5gzGWbfYdcKXO82XnP1S1u9t7aQYrm2IUgC-Fs_8UH4lgn5_EYNe03UGKaio6y8FteuS3pkaLafAhPehO18gaMDR59gfgkNgCVXkfWgdTVl1lW3Ix1k2ehrXDNXuOBFvU_vCrRaKik6cHl_04hcATt9dNi0GHodFpR3c5xc62xIM0OfugdvHjA0IZ3_frnb3HWIzEjl0QFfY8T38thqpApr0hGiWRmNbdgCoY4jcrR_hVrFin0BFy1U-2GK5QyqWsLHwOmeyzKxsBzI5-a5MJvHSp2fYG=s256-no"
                             style="max-width:100%" alt="ВАЛЕО DIAGNOSTICS">
                    </div>
                    <div>
                        <p style="margin-top:0;margin-bottom:30px;font-size:19px;line-height:24px;font-weight:700">
                            {{ name }}!
                        </p>
                        <span style="display:block;width:360px;font-size:16px;line-height:24px;float:left;padding:0!important;margin-bottom: 10px;">
                            {{ 'mail_data'|trans }}
                        </span>

                        <span>{{ 'mail_login'|trans }}</span><span style="font-weight: bold;">{{ login }}</span>
                        <br>
                        <span>{{ 'mail_password'|trans }}</span><span style="font-weight: bold;">{{ password }}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://lh3.googleusercontent.com/YVqZsh6L7sKdhLwS7qArRhFcM-0IAd845VMwEbO7iB2yBAB9cjrdJtkriS1hIyl0V3qh3kPIVvH1_Z8ngN16J5Lzg0-th9Sh9ayVqfWhFNSJCi8B3kC_E4RNNlv9Cv_2OI32ndN-9hwtZ7OEyewaXyFv1yndMv8j2L8k1aTJkxH-cYgIeNjwUEvj6HNbO6mBWZa-WoL5ZoBZM4g4WqzfscTs9k2NoD4L6hSG9giGOg-6Ss_jQT-f5Hb9mes3PkUBFW5Cx_80GQJdC3brgn9rHU40p79wFTKXxSSrn60YPB2YmnUX0Kg6gYlNT4tAd6XW8ASvTPeNXkfj_nJPGwvyRWGicvY9AbyA7-YNruaLUXrgr6sufcbrDJs_QNUu0CBXcn9BqvN7haiLAzO0aQtENsn1rIVHFvLhFavc1zK5ENRTW-retDBw5tqgrUTGXjazhMSVeA3wqy9HJOFPidmzvU0M2b0CEDx3mNi14bzyMz99E6e_NCSV_FNhIG4SviORBs8EBYu_7WwM6XirxW3yt3Is4AIcijTR40JTAbanmjrS7q0EKBW4mkdC2kJWd1y9taGRzsfdbPZeC0zJ2e6j8mOjzOfLKK1cUTYcpiZGgT95v0_H=w600-h25-no"
                     height="21" width="600" style="display:block;background:#f3f3f3" alt="ВАЛЕО DIAGNOSTICS">
            </td>
        </tr>
        <tr>
            <td style="padding:20px">
                <div>
                    <span style="color:#333333;font-size:18px;line-height:24px;display:block;padding:0!important">
                        {{ 'mail_data_support'|trans }}
                        <a style="color:#57a000"
                           href="mailto:{{ 'mail_feedback'|trans }}">{{ 'mail_feedback'|trans }}</a>
                        <br>
                        <br>
                        <span style="font-size: 14px;">{{ "mail_respected"|trans }}</span>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <table style="font-size:10px" cellspacing="0" cellpadding="0" align="center" width="600">
        <tr>
            <td style="padding:20px 18px;text-align:left;line-height:1.1;color:#8a8a8a">
                <p style="margin:0 0 10px;padding:0">  {{ 'mail_individually'|trans }}  </p>
                <p style="margin:0 0 10px;padding:0">
                    <a href="/" style="color:#8a8a8a;text-decoration:underline" target="_blank">
                        <span style="color: #8a8a8a;">{{ 'mail_private'|trans }}</span>
                    </a>
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
